@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #1F2833 !important;
  color: #C5C6C7;
}

.navbar {
  background-color: #0B0C10;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border: 0px #222629;
}
ul.nav.navbar-nav > li.active > a{
  background-color: #1F2833;
  color: #66FCF1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbarbar-nav > li > a:focus {
  background-color: #1F2833;
  color: #45A29E;
}

 h2 {
   color: #66FCF1;
 }

 .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #222629;
}

legend {
  color: #45A29E;
}

.btn {
  background-color: #66FCF1;
  color: #0B0C10;
  font-weight: bold;
}

.container {
  margin-top: 5%;
}

img.img-thumbnail {
  height:250px;
  width:100%;
  margin-top: 3%;
}

/*Table css for employee display*/
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}